.conta {
	width: 600px;
	border: 1px solid black;
	margin: auto;
	padding: 5px;
}

img {
	width: 300px;
	height: 350px;
	float: left;
	margin: 5px;
}





.onta {
	width: 600px;
	border: 1px solid black;
	margin: auto;
	padding: 5px;
}

.kotak {
	width: 80px;
	height: 80px;
	background-color: salmon;
	color: white;
	text-align: center;
	line-height: 80px;
	font-size: 30;
	margin: 2px;
	float: right;
}





.tank {
	width: 800px;
	border: 1px solid black;
	margin: auto;
	padding: 5px;
}

.kiri {
	width: 150px;
	height: 500px;
	background-color: green;
	float: left;
}

.tengah {
	width: 500px;
	height: 500px;
	background-color: red;
	float: left;
}

.kanan {
	width: 150px;
	height: 500px;
	background-color: gold;
	float: left;
}